    /* ROOT VARIABLES */
    :root {
        --font-primary: 'Inter', 'Raleway', 'Roboto', Arial, sans-serif;
        --dark-primary: #090909;
        --dark-secondary: #1B1B1B;
        --light-primary: #FFFBFD;
        --light-secondary: #F8F9FC;
        --navbar-primary: #9C9C9C;
        --red-primary: #7b3956;
    }

    /* GENERAL CSS */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box !important;
        font-family: var(--font-primary) !important;
    }

    body {
        background: var(--light-secondary);
        overflow-x: hidden;
    }

    #text-primary {
        color: var(--red-primary);
    }

    /* NAVBAR & HERO SECTION  */

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        background-color: var(--dark-secondary);
        width: 55%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 1rem;
    }

    .navbar-brand,
    .nav-link,
    .nav-link-icon {
        font-size: 1rem;
        font-weight: 600;
        color: var(--navbar-primary);
    }

    .nav-link-icon i {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    #hero-section {
        background-color: var(--dark-primary);
        min-height: 80vh;
        display: flex;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 2.2rem;
        font-weight: 600;
        color: var(--red-primary);
    }

    .hero-text .muted {
        font-size: 1.5rem;
        color: var(--light-primary);
    }

    .hero-text .btn-success {
        padding: 15px;
        font-size: 1.3rem;
    }

    .btn-success i {
        padding-right: 5px;
    }

    .hero-image img {
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
    }

    /* SERVICES SECTION */

    .service-section h3 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--dark-secondary);
    }

    .service-section h4 {
        margin: 15px 0px;
        font-size: 1.5rem;
        color: var(--red-primary);
    }


    /* TERAPHY SECTION */

    .teraphy-section {
        margin-top: 5rem;
    }

    .teraphy-section h3 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--dark-secondary);
    }

    /* FAQ SECTION */

    .faq-section {
        margin-top: 5rem;
        padding: 30px;
        background-color: var(--dark-primary);
        color: var(--light-primary);
    }

    .faq-section h3 {
        font-size: 2rem;
        font-weight: 800;
        text-align: left;
    }

    /* ABOUT SECTION */

    .about-section {
        margin-top: 5rem;
    }

    .about-section h3 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--dark-secondary);
    }

    .about-section .about-photo {
        background: var(--red-primary);
        width: 30%;
        padding: 0.5rem;
        position: relative;
    }

    .about-section .about-photo .cecilia-photo {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    /* BENEFITS SECTION */

    .benefits-section {
        padding: 30px;
        background-color: var(--dark-primary);
        color: var(--light-primary);
    }

    .benefits-section h3 {
        font-size: 2rem;
        font-weight: 800;
        text-align: left;
    }

    .benefits-section h4 {
        margin: 15px 0px;
        font-size: 1.5rem;
        color: var(--red-primary);
    }

    #carouselExample {
        border: 1px solid var(--red-primary);
        padding: 25px 15px;
        border-radius: 15px;
        margin: 0 auto;
        width: 80%;
    }



    /* CONTACT SECTION */

    #contact-section {
        background-color: var(--dark-primary);
        color: var(--light-primary);
        padding: 1.5rem;
    }

    #contact-section .contact-text h2 {
        color: var(--light-primary);
        font-weight: 800;
        font-size: 2.5rem;
    }

    #contact-section .contact-text p {
        color: var(--red-primary);
    }

    .contact-form .btn-success {
        width: 100%;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 0.8rem;
    }

    footer {
        background-color: var(--light-secondary);
    }



    @media only screen and (max-width: 576px) {}