    /* ROOT VARIABLES */
    :root {
        --font-primary: 'Inter', 'Raleway', 'Roboto', Arial, sans-serif;
        --dark-primary: #090909;
        --dark-secondary: #1B1B1B;
        --light-primary: #FFFBFD;
        --light-secondary: #F8F9FC;
        --navbar-primary: #9C9C9C;
        --red-primary: #7b3956;
        --border-radius: 15px;
        --font-weight-primary: 800;
    }

    /* GENERAL CSS */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box !important;
        font-family: var(--font-primary) !important;
    }

    body {
        background: var(--light-secondary);
        overflow-x: hidden;
    }

    #text-primary {
        color: var(--red-primary);
    }

    /* NAVBAR & HERO SECTION  */

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .navbar {
        background-color: var(--dark-secondary);
        width: 55%;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding: 15px 1rem;
    }

    .navbar-brand img {
        width: 150px;
        height: auto;
    }

    .navbar-brand,
    .nav-link,
    .nav-link-icon {
        font-size: 1rem;
        font-weight: var(--font-weight-primary);
        color: var(--light-primary);
    }

    .nav-link-icon i {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .hero-section {
        background-color: var(--dark-primary);
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 2.5rem;
        font-weight: var(--font-weight-primary);
        color: var(--red-primary);
    }

    .hero-text .muted {
        font-size: 1.5rem;
        color: var(--light-primary);
    }

    .hero-text .btn-success {
        padding: 15px;
        font-size: 1.3rem;
        border-radius: var(--border-radius);
    }

    .btn-success i {
        padding-right: 5px;
    }

    .hero-image img {
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
    }

    /* SERVICES SECTION */

    .service-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--dark-secondary);
    }

    .service-section h4 {
        margin: 15px 0px;
        font-size: 1.3rem;
        color: var(--red-primary);
    }


    /* therapy SECTION */

    .therapy-section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .therapy-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--dark-secondary);
    }

    /* FAQ SECTION */

    .faq-section {
        background-color: var(--dark-primary);
        color: var(--light-primary);
        position: relative;
    }


    .faq-section::before {
        content: '';
        width: 100%;
        height: 1100px;
        background-color: var(--dark-primary);
        position: absolute;
        top: -32px;
        left: 0;
        z-index: -1;
        transform: skewY(-10deg);
    }

    .faq-section::after {
        content: '';
        width: 100%;
        height: 50%;
        background-color: var(--light-secondary);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .faq-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        text-align: left;
    }

    .accordion-item {
        border: 0 !important;
        margin-bottom: 5px;
    }

    .accordion-item,
    .accordion-button {
        border-top-right-radius: 25px !important;
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        border-bottom-left-radius: 25px !important;
    }

    .accordion-button {
        background-color: var(--red-primary);
        color: var(--light-primary);
        font-weight: 700;
    }

    /* ABOUT SECTION */

    .about-section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .about-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--light-primary);
    }

    .about-section p {
        color: var(--light-primary);
    }

    .about-section .about-photo {
        background: var(--red-primary);
        width: 30%;
        padding: 0.5rem;
        position: relative;
    }

    .about-section .about-photo .cecilia-photo {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    /* BENEFITS SECTION */

    .benefits-section {
        padding: 30px;
        background-color: var(--dark-primary);
        color: var(--light-primary);
    }

    .benefits-section h3 {
        font-size: 2rem;
        font-weight: 800;
        text-align: left;
    }

    .benefits-section h4 {
        margin: 15px 0px;
        font-size: 1.5rem;
        color: var(--red-primary);
    }

    #carouselExample {
        border: 1px solid var(--red-primary);
        padding: 25px 15px;
        border-radius: 15px;
        margin: 0 auto;
        width: 80%;
    }


    /* CONTACT SECTION */

    .contact-section {
        background-color: var(--dark-primary);
        color: var(--light-primary);
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .contact-section .contact-text h2 {
        color: var(--light-primary);
        font-weight: 800;
        font-size: 2.5rem;
    }

    .contact-section .contact-text p {
        color: var(--red-primary);
    }

    .contact-form .btn-success {
        width: 100%;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 0.8rem;
    }

    footer {
        background-color: var(--light-secondary);
    }


    @media only screen and (max-width: 576px) {}