    /* ROOT VARIABLES */
    :root {
        --font-primary: 'Inter', 'Raleway', 'Roboto', Arial, sans-serif;
        --dark-primary: #090909;
        --dark-secondary: #121212;
        --light-primary: #FFFBFD;
        --light-secondary: #F8F9FC;
        --red-primary: #7b3956;
        --navbar-primary: #9C9C9C;
        --border-radius: 15px;
        --font-weight-primary: 800;
    }

    /* GENERAL CSS */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box !important;
        font-family: var(--font-primary) !important;
    }

    body {
        background: var(--light-secondary);
        overflow-x: hidden;
    }

    #text-primary {
        color: var(--red-primary);
    }

    .btn-success {
        padding: 10px;
        font-size: 1rem;
        border-radius: var(--border-radius);
    }

    .btn-success i {
        padding-right: 8px;
    }

    /* NAVBAR   */

    header {
        position: absolute;
        z-index: 5;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        background-color: var(--dark-secondary);
        width: 55%;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding: 10px 1rem;
    }

    .navbar .logo {
        width: 150px;
        height: auto;
    }

    .navbar-brand-mobile {
        display: none;
    }

    .nav-link,
    .nav-link-icon {
        font-size: 1rem;
        font-weight: var(--font-weight-primary);
        color: var(--light-primary);
    }

    .navbar .nav-link::before {
        content: "";
        position: relative;
        display: block;
        width: 0px;
        height: 3px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(227, 230, 222);
        transition: 0.3s ease-in-out;
    }

    .navbar .nav-link:hover::before {
        visibility: visible;
        width: 100%;
    }

    .nav-link-icon i {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .nav-link-icon::before {
        content: "";
        position: relative;
        display: block;
        width: 0px;
        height: 3px;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(227, 230, 222);
        transition: 0.3s ease-in-out;
    }

    .navbar .nav-link-icon:hover::before {
        visibility: visible;
        width: 100%;
    }


    .navbar .nav-link:hover {
        color: var(--light-primary);
    }



    .navbar .navbar-toggler {
        border-color: var(--red-primary);
    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(123,57,86, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    /* HERO SECTION */

    .hero-section {
        background-color: var(--dark-primary);
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 3rem;
        font-weight: var(--font-weight-primary);
        color: var(--red-primary);
    }

    .hero-text h2 {
        font-size: 2.5rem;
        font-weight: var(--font-weight-primary);
        color: var(--red-primary);
    }

    .hero-text .muted {
        font-size: 1.5rem;
        color: var(--light-primary);
    }

    .hero-image img {
        object-fit: cover;
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }

    /* SERVICES SECTION */

    .service-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--dark-secondary);
    }

    .service-section h4 {
        margin: 15px 0px;
        font-size: 1.3rem;
        color: var(--red-primary);
    }


    /* THERAPY SECTION */

    .therapy-section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .therapy-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--dark-secondary);
    }

    .list-group-flush .list-group-item {
        background-color: var(--light-secondary) !important;
    }

    /* FAQ SECTION */

    .faq-section {
        color: var(--light-primary);
        position: relative;
    }


    .faq-section::before {
        content: '';
        width: 100%;
        height: 1100px;
        background-color: var(--dark-primary);
        position: absolute;
        top: -32px;
        left: 0;
        z-index: -1;
        transform: skewY(-10deg);
    }

    .faq-section::after {
        content: '';
        width: 100%;
        height: 50%;
        background-color: var(--light-secondary);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .faq-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
    }

    .accordion-item {
        border: 0 !important;
        margin-bottom: 5px;
    }

    .accordion-item,
    .accordion-button {
        border-top-right-radius: 25px !important;
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        border-bottom-left-radius: 25px !important;
    }

    .accordion-button {
        background-color: var(--red-primary);
        color: var(--light-primary);
        font-weight: var(--font-weight-primary);
    }

    /* BENEFITS SECTION */

    .benefits-section {
        background-color: var(--dark-primary);
        color: var(--light-primary);
    }

    .benefits-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
    }

    .benefits-section h4 {
        margin: 15px 0px;
        font-size: 1.5rem;
        color: var(--red-primary);
    }


    #carouselBenefits {
        border: 1px solid var(--red-primary);
        padding: 25px 15px;
        border-radius: 15px;
        margin: 0 auto;
        width: 80%;
    }

    /* ABOUT SECTION */

    .about-section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .about-section h3 {
        font-size: 2rem;
        font-weight: var(--font-weight-primary);
        color: var(--light-primary);
    }

    .about-section p {
        color: var(--light-primary);
    }

    .about-section .about-photo {
        background: var(--red-primary);
        width: 30%;
        padding: 0.5rem;
        position: relative;
    }

    .about-section .about-photo .cecilia-photo {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }


    /* CONTACT SECTION */

    .contact-section {
        background-color: var(--dark-primary);
        color: var(--light-primary);
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .contact-section h2 {
        color: var(--light-primary);
        font-weight: var(--font-weight-primary);
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .contact-section p {
        color: var(--red-primary);
    }

    .contact-form .btn-success {
        width: 100%;
        font-size: 1rem;
        font-weight: var(--font-weight-primary);
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 0.8rem;
    }

    footer {
        background-color: var(--light-secondary);
    }

    .map-container {
        position: relative;
        padding-bottom: 60%;
        height: 0;
        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    footer .footer-list ul {
        list-style-type: none;
    }

    .footer-list .footer-link {
        margin: 15px auto;
        transition: all ease-in-out;
    }

    .footer-list a {
        position: relative;
        text-decoration: none;
        font-size: 1rem;
        font-weight: var(--font-weight-primary);
        color: var(--red-primary);
        display: inline-block;
        transition: font-size 0.25s ease, color 0.25s ease;
    }

    .footer-list a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: var(--red-primary);
        transition: width 0.25s ease;
    }

    .footer-list .footer-link a:hover {
        font-size: 1.08rem;
    }

    .footer-list .footer-link a:hover::after {
        width: 100%;
    }

    footer .copyright {
        background-color: var(--red-primary);
        color: var(--light-primary);
        font-weight: 500;
    }

    .copyright p {
        margin: 0;
        padding: 1rem 0;
    }

    @media only screen and (max-width: 1200px) {
        .navbar {
            width: 80%;
        }

        .hero-section {
            min-height: 50vh;
        }

        .hero-image img {
            width: 300px;
            height: 300px;
        }

        .hero-text h1 {
            font-size: 1.8rem;
        }

        .about-section {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    @media only screen and (max-width: 992px) {
        .faq-section h3 {
            font-size: 1.5rem;
        }
        .benefits-section h3 {
            font-size: 1.5rem;
        }
    }


    @media only screen and (max-width: 768px) {
        .navbar {
            width: 85%;
        }

        .hero-section {
            min-height: 50vh;
        }

        .navbar-brand-mobile {
            display: inline-block;
        }

        .navbar-brand-desktop {
            display: none;
        }

        .hero-text h1 {
            font-size: 1.8rem;
        }

        .hero-text h2 {
            font-size: 1.5rem;
        }

        .hero-text .muted {
            font-size: 1rem;
        }

        .hero-text .btn-success {
            font-size: 1rem;
        }

        .hero-image img {
            width: 250px;
            height: 250px;
        }

        .service-section h3 {
            font-size: 1.5rem;
        }

        .therapy-section {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .therapy-section h3 {
            font-size: 1.5rem;
        }

        .therapy-section p {
            font-size: 1rem;
        }

        .faq-section h3 {
            font-size: 1.5rem;
        }

        .benefits-section h3 {
            font-size: 1.5rem;
        }

        .about-section {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .about-section h3 {
            font-size: 1.5rem;
        }

        .about-section .about-photo {
            width: 40%;
            margin-top: 1rem;
        }

    }

    @media only screen and (max-width: 576px) {

        .navbar {
            width: 80%;
        }

        .hero-section {
            min-height: 70vh;
        }

        .hero-text h1 {
            font-size: 1.5rem;
        }

        .hero-image img {
            margin: 2rem auto;
        }

        .hero-text .btn-success {
            padding: 8px;
            font-size: 0.8rem;
        }

        .faq-section h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .benefits-section h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .about-section {
            padding-top: 0.5rem;
        }

        .contact-section {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .about-section .about-photo {
            margin-top: 2rem;
            width: 80%;
        }


    }

    @media only screen and (max-width: 420px) {

        .navbar {
            width: 100%;
        }

        .hero-section {
            min-height: 70vh;
        }

        .hero-text h1 {
            margin-top: 4rem;
            font-size: 1.5rem;
        }


    }

    @media only screen and (max-width: 375px) {

        .hero-section {
            min-height: 50vh;
        }

        .hero-text h1 {
            margin-top: 5rem;
            font-size: 1.5rem;
        }

        .hero-image img {
            margin: 1rem auto;
            width: 180px;
            height: 180px;
        }

        .benefits-section h4 {
            font-size: 1.3rem;
        }

        .faq-section::before {
            height: 1300px;
        }
    }